KiranWorkspace/MauiAppPractice/.vs/
KiranWorkspace/MauiAppPractice/bin/
KiranWorkspace/MauiAppPractice/obj/
SayaliWorkspace/MAUITutorial/.vs/
SayaliWorkspace/MAUITutorial/MAUITutorial/bin/
SayaliWorkspace/MAUITutorial/MAUITutorial/obj/
